# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
backend/logs/

# Environment variables
.env

# IDE settings
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
